.container-list {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.text-list {
  font-size: calc(0.7vw + 0.7vh + 0.5vmin);

  font-family: "Nunito", sans-serif;
}

.btn:focus {
  background: #fd377e;
  border: 1.4px solid #fd377e;
  border-radius: 8px;
  color: white;
  font-family: "Nunito", sans-serif;
  display: flex;
  width: 87px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  background: #e9ecef;
  width: 87px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Nunito", sans-serif;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
}

.btn-div {
  display: flex;
  gap: 18px;
  align-items: center;
}

.ul-cards {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin-left: -40px;
}

.cards-list-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .list-flex {
    display: flex;
    flex-direction: column;
  }

  .cards-list-container {
    align-items: center;
    justify-content: center;
  }

  .div-empy img {
    width: 500px;
  }
}

@media (max-width: 570px) {
  .div-empy img {
    width: 400px;
  }

  .btn-div button {
    width: 65px;
    height: 35px;
  }

  .btn:focus {
    width: 65px;
    height: 35px;
  }
}

@media (max-width: 440px) {
  .div-empy img {
    width: 350px;
  }

  .btn-div button {
    width: 65px;
    height: 35px;
  }

  .btn:focus {
    width: 65px;
    height: 35px;
  }
}

@media (max-width: 375px) {
  .div-empy img {
    width: 290px;
  }
}
