.div-entrada {
  background-color: #f8f9fa;
  border-radius: 4px;
  width: 560px;
  height: 87px;
  display: flex;
  flex-direction: column;
  border-left: 4px;
  border-color: #03b898;
  border-left-style: solid;
}

@media (max-width: 650px) {
  .div-entrada {
    width: 400px;
  }
}

@media (max-width: 490px) {
  .div-entrada {
    width: 320px;
  }
}

@media (max-width: 365px) {
  .div-entrada {
    width: 280px;
  }
}

.div-saida {
  background-color: #f8f9fa;
  border-radius: 4px;
  width: 560px;
  height: 87px;
  flex-direction: column;
  display: flex;
  border-left: 4px;
  border-color: #e9ecef;
  border-left-style: solid;
}

@media (max-width: 650px) {
  .div-saida {
    width: 400px;
  }
}

@media (max-width: 490px) {
  .div-saida {
    width: 320px;
  }
}

@media (max-width: 365px) {
  .div-saida {
    width: 280px;
  }
}

.fist-line-card {
  display: flex;
  justify-content: space-between;
}

.second-line-card {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.div-cardDescription {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  margin-top: 1rem;
  margin-left: 18px;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.div-type {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  margin-left: 1rem;
  flex-direction: column;
}

.trash-icon {
  margin-right: 3rem;
}

.div-value {
  font-size: 13px;
  font-family: "Nunito", sans-serif;
  margin-top: 18px;
  margin-right: 2rem;
  flex-direction: row;
  justify-content: right;
  gap: 60px;
}

@media (max-width: 650px) {
  .div-cardDescription {
    width: 220px;
  }
}

@media (max-width: 490px) {
  .div-cardDescription {
    width: 150px;
  }
}
