.valor-total {
  width: 100%;
}

.valor-total-text {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-left: 10%;
}

.valor-total-number {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-left: 10%;
}

.pTotal {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 190px;
  width: 100%;
  font-size: 12px;
  margin-left: 10%;
  color: #343a40;
}
